@import "tailwindcss";
@plugin "daisyui" {
  include: button, input, loading, dropdown, skeleton, chat, toggle, modal,
    checkbox;
}
@theme {
  --color-chatBg: #0e1621;
  --color-leftBarBg: #14212b;
  --color-darkGray: #8c8c8c;
  --color-modalBg: #333333;
  --color-darkBlue: #0088cc;
  --color-lightBlue: #179cde;

  --font-vazirRegular: vazirRegular;
  --font-vazirBold: vazirBold;
  --font-vazirLight: vazirLight;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

* {
  user-select: none;
}

body {
  height: 100%;
  width: 100%;
}

@font-face {
  font-family: "vazirRegular";
  src: url("../../public/fonts/Vazirmatn-Regular.woff2");
}

@font-face {
  font-family: "vazirBold";
  src: url("../../public/fonts/Vazirmatn-Bold.woff2");
}

@font-face {
  font-family: "vazirLight";
  src: url("../../public/fonts/Vazirmatn-Light.woff2");
}
.chatBackground {
  background-color: #0e1621;
  background-image: url("/shapes/space.svg");
  background-size: 250px;
  background-blend-mode: multiply;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-thumb {
  width: 100%;
  background-color: #dadada;
  border-radius: calc(infinity * 1px);
  cursor: pointer;
}

.scroll-w-none {
  scrollbar-width: none;
}

.z-full {
  z-index: 999;
}

.highLightedMessage {
  position: relative;
}

.highLightedMessage::before {
  content: "";
  background-color: var(--color-darkBlue);
  position: absolute;
  inset: 0;
  width: 100%;
  padding: 4px;
  opacity: 0;
  transition: opacity 300ms, background-color 500ms;
}
.highLightedMessage.active::before {
  opacity: 0.25;
}

.chat {
  --mask-chat: url("data:image/svg+xml,%3csvg width='13' height='13' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill='black' d='M0 11.5004C0 13.0004 2 13.0004 2 13.0004H12H13V0.00036329L12.5 0C12.5 0 11.977 2.09572 11.8581 2.50033C11.6075 3.35237 10.9149 4.22374 9 5.50036C6 7.50036 0 10.0004 0 11.5004Z'/%3e%3c/svg%3e");
}
